altgraph==0.17.4
astroid==2.14.2
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
debugpy==1.6.6
dill==0.3.6
gitdb==4.0.10
GitPython==3.1.30
h11==0.14.0
idna==3.6
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.26.4
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.1
pefile==2023.2.7
platformdirs==3.0.0
pycparser==2.21
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pylint==2.16.2
pyperclip==1.8.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
selenium==4.17.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
tomlkit==0.11.6
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.0
wrapt==1.14.1
wsproto==1.2.0
